{% extends '../base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin: 20px; text-align: center;">
        <div class="profile">
            <p class="profile-text">현재 선택된 유저명</p>
            <p class="profile-text">{{ target_user.username }}</p>
            <p class="profile-text" style="margin-top:30px;">답변한 게시글의 수</p>
            <p class="profile-text">{{ target_user.author_answer.all.count }}</p>
            <p class="profile-text">질문한 게시글의 수</p>
            <p class="profile-text">{{ target_user.author_question.all.count }}</p>
            <p class="profile-text">채택된 게시글의 수</p>
            <p class="profile-text">{{ total_accepted }}</p>
        </div>
        <div class="question_box">
            <div class="enrolled-question" style="padding: 10px; overflow: auto;">
                <p style="text-align: center; font-size:24px;">질문한 게시글</p>
                <table class="table">
                    <tr>
                        <th>번호</th>
                        <th style="width:50%">제목</th>
                        <th>글쓴이</th>
                        <th>작성일시</th>
                    </tr>
                    {% for question in target_questions.object_list %}
                        <tr>
                            <td>{{ question.id }}</td>
                            <td class="text-center">
                                <a href="{% url 'pybo:detail' question.id %}">
                                    {{question.subject}}
                                </a>
                            </td>
                            <td><a href="{% url 'common:profile_view' question.author.id %}">{{question.author.username}}</a></td>
                            <td>{{question.create_date}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="answered-question" style="padding: 10px; overflow: scroll;">
                <p style="text-align: center; font-size:24px;">답변한 게시글</p>
                <table class="table">
                    <tr>
                        <th>번호</th>
                        <th style="width:50%">제목</th>
                        <th>글쓴이</th>
                        <th>작성일시</th>
                    </tr>
                    {% for answer in target_answered_questions.object_list %}
                        <tr>
                            <td>{{ answer.id }}</td>
                            <td class="text-center">
                                <a href="{% url 'pybo:detail' answer.id %}">
                                    {{answer.subject}}
                                </a>
                            </td>
                            <td>{{answer.author.id}}</td>
                            <td>{{answer.create_date}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}