{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" style="background-color:white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'pybo:index' %}">BH Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bhToggler" aria-controls="bhToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="bhToggler">
            <ul class="navbar-nav ms-3 me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'pybo:index' %}">홈으로</a>
                </li>
                <li class="nav-item dropdown ms-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        게시판
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'pybo:board_post' 0 %}">자유게시판</a></li>
                        <li><a class="dropdown-item" href="{% url 'pybo:board_post' 1 %}">파이썬 게시판</a></li>
                        <li><a class="dropdown-item" href="{% url 'pybo:board_post' 2 %}">자바 게시판</a></li>
                    </ul>
                </li>
            </ul>
            
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="margin-right: 10px;">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li id="notification_part" class="nav-item position-relative dropdown" style="vertical-align: middle; color: black;">
                        <a class="nav-link pt-0 pb-0" href="#" id="notification" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:20px; vertical-align: middle; color: black;">
                            <img src="{% static 'Alarm.png' %}" style="height:30px">
                        </a>     
                        <ul class="dropdown-menu" id="notification_menu" aria-labelledby="notification" >
                        </ul>
                    </li>
                    <li class="nav-item">
                        
                            <a class="nav-item" style="margin-right:20px; vertical-align: middle; color: black;" href="{% url 'common:modify' user.id %}" >
                                {{ user.username }} 님
                            </a>
                            <a class="nav-item" style="margin-right:10px; color: red; vertical-align: middle;" href="{% url 'common:logout' %}">
                                로그아웃
                            </a>             
                        {% else %}
                            <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    let alarmBtn = document.querySelector('#notification');
    const option = new Request({headers: {'X-CSRFToken': csrftoken}})

    {% if user.is_authenticated %}
        fetch("{% url 'pybo:get_notification_list' %}", option)
        .then((response) => response.json())
        .then((data) => {
            $('#notification_menu *').remove();
            $('#notification_part span').remove();
            // 알림 개수 표시 부분
            if (data.length > 0) {
                $('#notification_part').append('<span class="position-absolute top-2 badge rounded-pill bg-danger" style="top:20px; left:25px;">'+data.length+'</span>');
            }
            
            // 알림 추가 부분
            for (let element of data) {
                const {id, content, isread, question, ...rest} = element;
                const url = "/pybo/" + question;
                $('#notification_menu').append('<li><a class="dropdown-item" href="' + url + '" data-value="' + id + '">' + content + '</a></li>');
            }
        })
        .catch((error)=> {
            console.log(error);
        });

        $('#notification_menu').on('click', 'li', (e) => {
            let value = e.target.dataset.value;
            let url_mask = "{% url 'pybo:set_notification_data' 999999999 %}".replace('999999999', value);
            fetch(url_mask)
            .then((response) => {
                console.log(response);
            })
            .catch((error) => {
                console.log(error);
            })
        })
    {% endif %}

</script>